<div class="c-content-counter-1">
    <div class="c-content-title-2">
        <h3 class="c-center c-font-uppercase c-font-white c-font-bold">
            <span class="c-content-label">{{ 'les chiffres clés 2019'|upper }}</span>
        </h3>
        <div class="c-line c-dot c-dot-center c-theme-bg c-theme-bg-after c-line-short"></div>
    </div>
    <div class="row c-margin-t-60">
    </div>
</div>
