<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-11 -->
<section class="c-layout-revo-slider c-layout-revo-slider-11" dir="ltr">
    <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile c-arrow-darken" data-bullets-pos="center">
        <div class="tp-banner rev_slider" data-version="5.0">
            <ul>
                <!--BEGIN: SLIDE #1 -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                    <img
                            alt=""
                            src="{{ asset('build/web/static/education_finance.jpg') }}"
                            data-bgposition="center center"
                            data-bgfit="cover"
                            data-bgrepeat="no-repeat"
                    >
                    <div class="tp-caption lft"
                         data-x="left"
                         data-y="center"
                         data-voffset="140"
                         data-speed="900"
                         data-start="2000"
                         data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:900;e:Expo.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:900;e:Expo.easeInOut;" >
                        <a href="#info" class="btn btn-xlg c-btn-border-2x c-theme-btn c-btn-bold c-btn-uppercase">{{ 'plus d\'infos' }}</a>
                    </div>
                </li>
                <!--END -->
            </ul>
        </div>
    </div>
</section><!-- END: LAYOUT/SLIDERS/REVO-SLIDER-11 -->