<!-- BEGIN: SPOT VIDEO -->
<div class="c-center">
    <div class="col-md-12" style="padding: 0 !important;">
        <div class="c-content-media-2-slider" data-slider="owl">
            <div class="video-wrap" style="min-width:100%;">
                <video id="slide-video" poster="{{ asset('build/front/static/bg_full_old_page.jpg') }}" preload="auto" loop autoplay muted style="width: 100%;">
                    <source src='{{ asset('build/front/static/videos/explorer.webm') }}' type='video/webm'/>
                    <source src='{{ asset('build/front/static/videos/explorer.mp4') }}' type='video/mp4'/>
                </video>
                <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: SPOT VIDEO -->

