{% extends 'admin.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <div class="main-content">


        <div class="card">
            <h4 class="card-title">Card title</h4>

            <div class="card-body">

            </div>
        </div>


    </div><!--/.main-content -->
{% endblock %}