<form method="post" action="{{ path('logo_delete', {'id': logo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ logo.id) }}">
    <button class="btn btn-float btn-danger"><i class="ti-trash"></i></button>
</form>
