<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url({{ asset('build/front/static/home_bg.jpg')}}); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">
    <div class="container clearfix">
        <div class="emphasis-title">
            <div class="section nobg">
                <h1>{{'La finance s\'engage'}}</h1>
                <span>{{ 'une initiative privée pour le financement des PME'}}</span>
            </div>
        </div>
    </div>
</section><!-- #page-title end -->