<footer class="site-footer">
    <div class="row">
        <div class="col-md-6">
            <p class="text-center text-md-left">Copyright © {{ 'now'|date('Y') }} <a href="#">{{ 'Admin FSE' }}</a>. All rights reserved.</p>
        </div>
    </div>
</footer>
