<header class="topbar">
    <div class="topbar-left">
        <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>

        <a class="topbar-btn d-none d-md-block" href="#" data-provide="fullscreen tooltip" title="Fullscreen">
            <i class="material-icons fullscreen-default">fullscreen</i>
            <i class="material-icons fullscreen-active">fullscreen_exit</i>
        </a>

        <div class="dropdown d-none d-md-block">
            <span class="topbar-btn" data-toggle="dropdown"><i class="ti-layout-grid3-alt"></i></span>
            <div class="dropdown-menu dropdown-grid">
                <a class="dropdown-item" href="dashboard/general.html">
                    <span data-i8-icon="home"></span>
                    <span class="title">Dashboard</span>
                </a>
                <a class="dropdown-item" href="page/gallery.html">
                    <span data-i8-icon="stack_of_photos"></span>
                    <span class="title">Gallery</span>
                </a>
                <a class="dropdown-item" href="page/search.html">
                    <span data-i8-icon="search"></span>
                    <span class="title">Search</span>
                </a>
                <a class="dropdown-item" href="page-app/calendar.html">
                    <span data-i8-icon="calendar"></span>
                    <span class="title">Calendar</span>
                </a>
                <a class="dropdown-item" href="page-app/chat.html">
                    <span data-i8-icon="sms"></span>
                    <span class="title">Chat</span>
                </a>
                <a class="dropdown-item" href="page-app/mailbox.html">
                    <span data-i8-icon="invite"></span>
                    <span class="title">Emails</span>
                </a>
                <a class="dropdown-item" href="page-app/users.html">
                    <span data-i8-icon="contacts"></span>
                    <span class="title">Contacts</span>
                </a>
                <a class="dropdown-item" href="widget/chart.html">
                    <span data-i8-icon="bar_chart"></span>
                    <span class="title">Charts</span>
                </a>
                <a class="dropdown-item" href="page/profile.html">
                    <span data-i8-icon="businessman"></span>
                    <span class="title">Profile</span>
                </a>
            </div>
        </div>

        <div class="topbar-divider d-none d-md-block"></div>
    </div>

    <div class="topbar-right">
        <ul class="topbar-btns">

            <!-- Notifications -->
            <li class="dropdown d-none d-md-block">
                <span class="topbar-btn has-new" data-toggle="dropdown"><i class="ti-bell"></i></span>
                <div class="dropdown-menu dropdown-menu-right">

                    <div class="media-list media-list-hover media-list-divided media-list-xs">
                        <a class="media media-new" href="#">
                            <span class="avatar bg-success"><i class="ti-user"></i></span>
                            <div class="media-body">
                                <p>New user registered</p>
                                <time datetime="2017-07-14 20:00">Just now</time>
                            </div>
                        </a>

                        <a class="media" href="#">
                            <span class="avatar bg-info"><i class="ti-shopping-cart"></i></span>
                            <div class="media-body">
                                <p>New order received</p>
                                <time datetime="2017-07-14 20:00">2 min ago</time>
                            </div>
                        </a>

                        <a class="media" href="#">
                            <span class="avatar bg-warning"><i class="ti-face-sad"></i></span>
                            <div class="media-body">
                                <p>Refund request from <b>Ashlyn Culotta</b></p>
                                <time datetime="2017-07-14 20:00">24 min ago</time>
                            </div>
                        </a>

                        <a class="media" href="#">
                            <span class="avatar bg-primary"><i class="ti-money"></i></span>
                            <div class="media-body">
                                <p>New payment has made through PayPal</p>
                                <time datetime="2017-07-14 20:00">53 min ago</time>
                            </div>
                        </a>
                    </div>

                    <div class="dropdown-footer">
                        <div class="left">
                            <a href="#">Read all notifications</a>
                        </div>

                        <div class="right">
                            <a href="#" data-provide="tooltip" title="Mark all as read"><i class="fa fa-circle-o"></i></a>
                            <a href="#" data-provide="tooltip" title="Update"><i class="fa fa-repeat"></i></a>
                            <a href="#" data-provide="tooltip" title="Settings"><i class="fa fa-gear"></i></a>
                        </div>
                    </div>

                </div>
            </li>
            <!-- END Notifications -->

        </ul>

    </div>
</header>
