{% extends 'base.html.twig' %}

{% block title %}New Former{% endblock %}

{% block body %}
    <h1>Create new Former</h1>

    {{ include('former/_form.html.twig') }}

    <a href="{{ path('former_index') }}">back to list</a>
{% endblock %}